.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.buttons {
  display: "inline-block";
}

.button-bar {
  background-color: #282c34;
  padding-bottom: 0.8rem;
  padding-left: 0.5rem;
}

.userName {
  text-align: right;
  width: 100%;
  position: absolute;
  margin-right: 3%;
}
